*.log
*.log.*
pom.xml.versionsBackup
.project
api-mock/src/main/java/
dubbo-provider-mock/src/main/java/
grpc-mock
dubbo-consumer-sdk/src/main/java/
dubbo-consumer-sdk/src/test/java/
dubbo-consumer-sdk/src/test/data/*
sdkg-sdk/src/test/data/*
sdkg-helper/Example/*
/.settings
*/*.log
*/*.log.*
*/logs
*/target
*/test*
*/.settings
*/.classpath
*/.project
*/pom.xml.versionsBackup
*/*/target
*/*/.settings
*/*/.classpath
*/*/.project
*/*/pom.xml.versionsBackup
.idea
*.yml

