*.log
*.log.*
pom.xml.versionsBackup
.project
sdkg-sdk/src/test/data/*
sdkg-helper/Example/*
/.settings
*/*.log
*/*.log.*
*/logs
*/target
*/test*
*/.settings
*/.classpath
*/.project
*/pom.xml.versionsBackup
*/*/target
*/*/.settings
*/*/.classpath
*/*/.project
*/*/pom.xml.versionsBackup

