*.log
*.log.*
pom.xml.versionsBackup
target/*
.project
/.settings
*/*.log
*/*.log.*
*/logs
*/target
*/test*
*/.settings
*/.classpath
*/.project
*/pom.xml.versionsBackup
**/target
**/.settings
**/.classpath
**/.project
**/pom.xml.versionsBackup
.idea
*.yml
*.iml
*/*.iml
**/*.iml
base-sdkg/*-sdkg/*-codeg/*-api/src
base-sdkg/*-sdkg/*-codeg/*-bundle/src
base-sdkg/*-sdkg/*-codeg/*-bundle-mock/src
base-sdkg/*-sdkg/*-codeg/*-client/src
