<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2019 Fastjrun, Inc. All Rights Reserved.
  -->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="codeHelperTestSuite" parallel="classes" thread-count="3"
       data-provider-thread-count="20">
    <test name="codeHelperTest" parallel="methods" thread-count="3">
        <parameter name="envName" value="${envName}"/>
        <packages>
            <package name="com.fastjrun.codeg.service"/>
            <package name="com.fastjrun.codeg.utils"/>
        </packages>
    </test>
</suite>