<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%d{MM-dd HH:mm:ss S}] %p[%5t][%c{3}.%M][%L] %m%n" />
		</Console>
	</Appenders>

	<Loggers>
		<logger name="org.apache" level="warn" additivity="false">
			<appender-ref ref="Console" />
		</logger>
		<logger name="org.mybatis" level="warn" additivity="false">
			<appender-ref ref="Console" />
		</logger>
		<logger name="org.springframework" level="warn"
			additivity="false">
			<appender-ref ref="Console" />
		</logger>
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>