#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set(
$symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="clientTest" parallel="classes" thread-count="5"
	data-provider-thread-count="20">
	<test name="${symbol_dollar}{envName}" parallel="methods"
		thread-count="5">
		<parameter name="envName" value="${symbol_dollar}{envName}"></parameter>
		<classes>
			<class
				name="${package}.client.AppVersionGenericClientTest" />
			<class
				name="${package}.client.UserGenericClientTest" />
			<class name="${package}.client.UserAppClientTest" />
			<class
				name="${package}.client.AppVersionAppClientTest" />
			<class
				name="${package}.client.ArticleApiClientTest" />
			<class name="${package}.client.UserApiClientTest" />
		</classes>
	</test>
</suite>