<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="clientTest" parallel="classes" thread-count="5"
       data-provider-thread-count="20">
    <test name="${envName}" parallel="methods"
          thread-count="5">
        <parameter name="envName" value="${envName}"></parameter>
        <classes>
            <class
                    name="com.alibaba.testsdk.client.AppVersionGenericClientTest"/>
            <class
                    name="com.alibaba.testsdk.client.UserGenericClientTest"/>
            <class name="com.alibaba.testsdk.client.UserAppClientTest"/>
            <class
                    name="com.alibaba.testsdk.client.AppVersionAppClientTest"/>
            <class
                    name="com.alibaba.testsdk.client.ArticleApiClientTest"/>
            <class name="com.alibaba.testsdk.client.UserApiClientTest"/>
        </classes>
    </test>
</suite>